* {
    font-family: sans-serif;
}

body {
    background-color: rgb(57, 70, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: rgb(44, 44, 44);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.55);
}

.title {
    color: rgb(197, 197, 197);
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

.screen {
    background-color: rgb(26, 26, 26);
    color: rgb(197, 197, 197);
    margin: 8px 0 16px 0;
    border-radius: 8px;
    text-align: right;
    padding: 32px 8px;
}

.equation {
    font-size: 24px;
}

.input {
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.general,
.operators {
    box-sizing: border-box;
    gap: 8px;
}

.general {
    display: flex;
    flex-wrap: wrap;
    width: 208px;
}

.operators {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: rgb(26, 26, 26);
    color: rgb(197, 197, 197);
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    font-size: 20px;
    transition: 0.2s;
}

.misc {
    background-color: rgb(83, 83, 83);
}

.operators .btn {
    background-color: rgb(48, 121, 99);
}

.btn:hover {
    background-color: rgb(58, 58, 58);
}

.misc:hover {
    background-color: rgb(51, 51, 51);
}

.operators .btn:hover {
    background-color: rgb(35, 92, 75);
}